body {
  background: #a3a3a3;
}
#search{
  padding: 20px;
  display: flex;
}
#search input{
  height: 50px;
  width: 300px;
  border-radius: 3px;
  margin-right: 25px;
}
#episodesSelect, #showsSelect, #search-input, #currentDisplaying, #backToShowsBtn{
  height: 56px;
  width: 300px;
  border-radius: 3px;
  margin-right: 25px;
}

button {
  background: #6086d9;
  color: #fff;
  border: none;
  padding: -4px 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px;
  background: #f8f8f8;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1px 70px rgba(255, 2, 2, 0.2);
}

.card h3 {
  color: #333;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card p {
  color: #555;
  text-align: justify;
}

#DataSourceWebsite {
  text-align: center;
  margin-top:20px;
}

#DataSourceWebsite a {
  color: #060b51
}

#MessagesToUser {
  text-align: center;
}

#errorMessage {
  color: #000;
    background-color: #ff0000;
    display: inline-block;
    margin: 0 auto;
    font-size: 20px;
}

#Loading {
  margin: 0 auto;
  font-size: 30px;
}