body {
  background: #a3a3a3;
}
#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

#card {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px;
  background: #f8f8f8;
}

#card h3 {
  color: #333;
  text-align: center;
}

#card img {
  width: 100%;
  border-radius: 8px;
}

#card p {
  color: #555;
  text-align: justify;
}

#DataSourceWebsite {
  text-align: center;
  margin-top:20px;
}

#DataSourceWebsite a {
  color: #060b51
}
